//===========================================
	// -Footer start
//===========================================
.last-sec {
	background-image: url("../images/map.jpg");
}
.map-detail {
	padding: 35px;
	width: 60%;
	background-color: $white;
	display: inline-block;
	margin: 100px;
}
.map-layout {
	text-align: center;
}
.details-item {
	font-size: rem(12);
	color: #cacaca;
	padding: 0px;
	margin: 0px;
	margin-bottom: -25px;
}
.ids {
	color: #303030;
	padding: 10px;
}
.footer {
	padding: 90px 90px 50px 90px;
}
.footr-cntent {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: rem(15);
	color: #767676;
	font-family: 'Segoe UI' sans-serif;
}
.social-icon {
	width: 30%;
}
.s-icon-layout {
	text-align: center;
	padding: 20px;
}
.img {
	margin: 15px 10px;
}
//===========================================
	// -Footer end
//===========================================
