//===========================================
	// -Header start
//===========================================

.top {
	height: $height;
	background-image:  url("../images/header.jpg");;
	border: $border;
	background-size:  cover;
}
.layar {
	background-color:  #000000ba;;
	width:  100%;
	height: $height;
}
//===========================================
	// -Header end
//===========================================
